# =============== #
# Unity generated #
# =============== #
Temp/
/[Ll]ibrary/
[Ll]ibrary/
Library/
/Library
Library/PackageCache
Library/metadata/
Library/ShaderCache/
Library/shadorecompiler/
Library/StateCache/




# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
obj/
*.svd
*.userprefs
/*.csproj
*.pidb
*.suo
/*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db


*.meta
*.log
*.md
*.meta
Library/CurrentLayout-default.dwlt
Library/LastSceneManagerSetup.txt
Library/SceneVisibilityState.asset
Library/shadercompiler-UnityShaderCompiler.exe0.log
Library/shadercompiler-UnityShaderCompiler.exe1.log
Library/shadercompiler-UnityShaderCompiler.exe2.log
Library/shadercompiler-UnityShaderCompiler.exe3.log
Library/shadercompiler-UnityShaderCompiler.exe4.log
Library/shadercompiler-UnityShaderCompiler.exe5.log
Library/shadercompiler-UnityShaderCompiler.exe6.log
Library/shadercompiler-UnityShaderCompiler.exe7.log
